/* Main CSS Items */
:root {
  --primary-color: #353535;
  --secondary-color: #3C6E71;
  --tertiary-color: #D9D9D9;
  --text-color: #FFFFFF;
  --back-color: #284B63;
}

* {
  font-family:'Courier New', Courier, monospace;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* HEADER */
header {
  background: var(--primary-color);
}

header h1 a {
  color: var(--text-color);
}

header nav ul {
  list-style-type: none;
}

header nav ul li a {
  color: var(--text-color);
}